In [1]:
# from google.colab import drive, files
from datetime import datetime as dt
import pandas as pd
import time
import warnings

pd.set_option('display.max_columns', None)
warnings.filterwarnings('ignore')

In [2]:
# url link from - https://www.redfin.com/news/data-center/
redfin_url = 'https://redfin-public-data.s3.us-west-2.amazonaws.com/redfin_market_tracker/zip_code_market_tracker.tsv000.gz'


df = pd.read_csv(redfin_url, compression='gzip', sep='\t', on_bad_lines='warn')

print('Num of rows:', len(df))
print('Num of cols:', len(df.columns))
df.head()

Num of rows: 6196869
Num of cols: 58

,period_begin,period_end,period_duration,region_type,region_type_id,table_id,is_seasonally_adjusted,region,city,state,state_code,property_type,property_type_id,median_sale_price,median_sale_price_mom,median_sale_price_yoy,median_list_price,median_list_price_mom,median_list_price_yoy,median_ppsf,median_ppsf_mom,median_ppsf_yoy,median_list_ppsf,median_list_ppsf_mom,median_list_ppsf_yoy,homes_sold,homes_sold_mom,homes_sold_yoy,pending_sales,pending_sales_mom,pending_sales_yoy,new_listings,new_listings_mom,new_listings_yoy,inventory,inventory_mom,inventory_yoy,months_of_supply,months_of_supply_mom,months_of_supply_yoy,median_dom,median_dom_mom,median_dom_yoy,avg_sale_to_list,avg_sale_to_list_mom,avg_sale_to_list_yoy,sold_above_list,sold_above_list_mom,sold_above_list_yoy,price_drops,price_drops_mom,price_drops_yoy,off_market_in_two_weeks,off_market_in_two_weeks_mom,off_market_in_two_weeks_yoy,parent_metro_region,parent_metro_region_metro_code,last_updated
0,2022-01-01,2022-03-31,90,zip code,2,28652,f,Zip Code: 66431,NaN,Kansas,KS,All Residential,-1,75500.0,0.00000,-0.245000,NaN,NaN,NaN,54.199569,0.000000,-0.261260,NaN,NaN,NaN,1.0,0.00,0.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,94.0,0.0,36.0,NaN,NaN,NaN,0.0000,0.0000,0.000000,NaN,NaN,NaN,NaN,NaN,NaN,"Topeka, KS",45820,2022-09-11 14:46:03
1,2020-01-01,2020-03-31,90,zip code,2,35743,f,Zip Code: 83713,NaN,Idaho,ID,Condo/Co-op,3,330000.0,0.00000,0.138324,NaN,NaN,NaN,201.096892,0.000000,-0.041339,NaN,NaN,NaN,1.0,0.00,0.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4.0,0.0,0.0,0.991289,0.000000,-0.008711,0.0000,0.0000,0.000000,NaN,NaN,NaN,NaN,NaN,NaN,"Boise City, ID",14260,2022-09-11 14:46:03
2,2017-11-01,2018-01-31,90,zip code,2,38464,f,Zip Code: 92705,NaN,California,CA,Multi-Family (2-4 Unit),4,789000.0,0.00000,NaN,NaN,NaN,NaN,406.701031,0.000000,NaN,NaN,NaN,NaN,1.0,0.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,19.0,0.0,NaN,1.012837,0.000000,NaN,1.0000,0.0000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Anaheim, CA",11244,2022-09-11 14:46:03
3,2014-04-01,2014-06-30,90,zip code,2,8432,f,Zip Code: 21208,NaN,Maryland,MD,Condo/Co-op,3,118950.0,0.45061,0.057333,132500.0,0.0,-0.33534,91.043514,0.241301,-0.013036,96.561997,0.053831,-0.208453,32.0,0.28,0.142857,11.0,0.0,1.2,37.0,-0.051282,0.15625,24.0,-0.076923,-0.351351,NaN,NaN,NaN,47.0,0.5,-72.0,0.942350,-0.003414,-0.011270,0.0625,-0.0175,0.026786,NaN,NaN,NaN,0.636364,0.454545,0.436364,"Baltimore, MD",12580,2022-09-11 14:46:03
4,2012-02-01,2012-04-30,90,zip code,2,39521,f,Zip Code: 95301,NaN,California,CA,Townhouse,13,106500.0,0.00000,NaN,NaN,NaN,NaN,77.794010,0.000000,NaN,NaN,NaN,NaN,1.0,0.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,74.0,0.0,NaN,0.888240,0.000000,NaN,0.0000,0.0000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Merced, CA",32900,2022-09-11 14:46:03

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6196869 entries, 0 to 6196868
Data columns (total 58 columns):
 #   Column                          Dtype
---  ------                          -----
 0   period_begin                    object
 1   period_end                      object
 2   period_duration                 int64
 3   region_type                     object
 4   region_type_id                  int64
 5   table_id                        int64
 6   is_seasonally_adjusted          object
 7   region                          object
 8   city                            float64
 9   state                           object
 10  state_code                      object
 11  property_type                   object
 12  property_type_id                int64
 13  median_sale_price               float64
 14  median_sale_price_mom           float64
 15  median_sale_price_yoy           float64
 16  median_list_price               float64
 17  median_list_price_mom           float64
 18  median_list_price_yoy           float64
 19  median_ppsf                     float64
 20  median_ppsf_mom                 float64
 21  median_ppsf_yoy                 float64
 22  median_list_ppsf                float64
 23  median_list_ppsf_mom            float64
 24  median_list_ppsf_yoy            float64
 25  homes_sold                      float64
 26  homes_sold_mom                  float64
 27  homes_sold_yoy                  float64
 28  pending_sales                   float64
 29  pending_sales_mom               float64
 30  pending_sales_yoy               float64
 31  new_listings                    float64
 32  new_listings_mom                float64
 33  new_listings_yoy                float64
 34  inventory                       float64
 35  inventory_mom                   float64
 36  inventory_yoy                   float64
 37  months_of_supply                float64
 38  months_of_supply_mom            float64
 39  months_of_supply_yoy            float64
 40  median_dom                      float64
 41  median_dom_mom                  float64
 42  median_dom_yoy                  float64
 43  avg_sale_to_list                float64
 44  avg_sale_to_list_mom            float64
 45  avg_sale_to_list_yoy            float64
 46  sold_above_list                 float64
 47  sold_above_list_mom             float64
 48  sold_above_list_yoy             float64
 49  price_drops                     float64
 50  price_drops_mom                 float64
 51  price_drops_yoy                 float64
 52  off_market_in_two_weeks         float64
 53  off_market_in_two_weeks_mom     float64
 54  off_market_in_two_weeks_yoy     float64
 55  parent_metro_region             object
 56  parent_metro_region_metro_code  int64
 57  last_updated                    object
dtypes: float64(43), int64(5), object(10)
memory usage: 2.7+ GB

In [4]:
#let's change the period_begin and period_end to date time object and extract years and month.
df['period_begin'] = pd.to_datetime(df['period_begin'])
df['period_end'] = pd.to_datetime(df['period_end'])
df["period_begin_in_years"] = df['period_begin'].dt.year
df["period_end_in_years"] = df['period_end'].dt.year

df["period_begin_in_months"] = df['period_begin'].dt.month
df["period_end_in_months"] = df['period_end'].dt.month

In [5]:
df.head(1)

,period_begin,period_end,period_duration,region_type,region_type_id,table_id,is_seasonally_adjusted,region,city,state,state_code,property_type,property_type_id,median_sale_price,median_sale_price_mom,median_sale_price_yoy,median_list_price,median_list_price_mom,median_list_price_yoy,median_ppsf,median_ppsf_mom,median_ppsf_yoy,median_list_ppsf,median_list_ppsf_mom,median_list_ppsf_yoy,homes_sold,homes_sold_mom,homes_sold_yoy,pending_sales,pending_sales_mom,pending_sales_yoy,new_listings,new_listings_mom,new_listings_yoy,inventory,inventory_mom,inventory_yoy,months_of_supply,months_of_supply_mom,months_of_supply_yoy,median_dom,median_dom_mom,median_dom_yoy,avg_sale_to_list,avg_sale_to_list_mom,avg_sale_to_list_yoy,sold_above_list,sold_above_list_mom,sold_above_list_yoy,price_drops,price_drops_mom,price_drops_yoy,off_market_in_two_weeks,off_market_in_two_weeks_mom,off_market_in_two_weeks_yoy,parent_metro_region,parent_metro_region_metro_code,last_updated,period_begin_in_years,period_end_in_years,period_begin_in_months,period_end_in_months
0,2022-01-01,2022-03-31,90,zip code,2,28652,f,Zip Code: 66431,NaN,Kansas,KS,All Residential,-1,75500.0,0.0,-0.245,NaN,NaN,NaN,54.199569,0.0,-0.26126,NaN,NaN,NaN,1.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,94.0,0.0,36.0,NaN,NaN,NaN,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,"Topeka, KS",45820,2022-09-11 14:46:03,2022,2022,1,3

In [6]:
#let's map the month number to their respective month name.
month_dict = {
    "period_begin_in_months": {
        1 : "Jan",
         2 :  "Feb",
         3: "Mar",
         4: "Apr",
         5: "May",
         6: "Jun",
         7: "Jul",
         8: "Aug",
         9: "Sep",
         10: "Oct",
         11: "Nov",
         12: "Dec",
    },
    "period_end_in_months": {
        1 : "Jan",
         2 :  "Feb",
         3: "Mar",
         4: "Apr",
         5: "May",
         6: "Jun",
         7: "Jul",
         8: "Aug",
         9: "Sep",
         10: "Oct",
         11: "Nov",
         12: "Dec"
    }}

df = df.replace(month_dict)

df.head(2)

,period_begin,period_end,period_duration,region_type,region_type_id,table_id,is_seasonally_adjusted,region,city,state,state_code,property_type,property_type_id,median_sale_price,median_sale_price_mom,median_sale_price_yoy,median_list_price,median_list_price_mom,median_list_price_yoy,median_ppsf,median_ppsf_mom,median_ppsf_yoy,median_list_ppsf,median_list_ppsf_mom,median_list_ppsf_yoy,homes_sold,homes_sold_mom,homes_sold_yoy,pending_sales,pending_sales_mom,pending_sales_yoy,new_listings,new_listings_mom,new_listings_yoy,inventory,inventory_mom,inventory_yoy,months_of_supply,months_of_supply_mom,months_of_supply_yoy,median_dom,median_dom_mom,median_dom_yoy,avg_sale_to_list,avg_sale_to_list_mom,avg_sale_to_list_yoy,sold_above_list,sold_above_list_mom,sold_above_list_yoy,price_drops,price_drops_mom,price_drops_yoy,off_market_in_two_weeks,off_market_in_two_weeks_mom,off_market_in_two_weeks_yoy,parent_metro_region,parent_metro_region_metro_code,last_updated,period_begin_in_years,period_end_in_years,period_begin_in_months,period_end_in_months
0,2022-01-01,2022-03-31,90,zip code,2,28652,f,Zip Code: 66431,NaN,Kansas,KS,All Residential,-1,75500.0,0.0,-0.245000,NaN,NaN,NaN,54.199569,0.0,-0.261260,NaN,NaN,NaN,1.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,94.0,0.0,36.0,NaN,NaN,NaN,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,"Topeka, KS",45820,2022-09-11 14:46:03,2022,2022,Jan,Mar
1,2020-01-01,2020-03-31,90,zip code,2,35743,f,Zip Code: 83713,NaN,Idaho,ID,Condo/Co-op,3,330000.0,0.0,0.138324,NaN,NaN,NaN,201.096892,0.0,-0.041339,NaN,NaN,NaN,1.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4.0,0.0,0.0,0.991289,0.0,-0.008711,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,"Boise City, ID",14260,2022-09-11 14:46:03,2020,2020,Jan,Mar

In [7]:
#number of years in our dataset
sorted(df["period_begin_in_years"].unique())

[2012, 2013, 2014, 2015, 2016, 2017, 2018, 2019, 2020, 2021, 2022]

Since most of the data in the city column are NAN. Let's get the city and county for our zip codes by joining our data with 
data obtained from https://raw.githubusercontent.com/scpike/us-state-county-zip/master/geo-data.csv

In [9]:
# get zip code, city and county data
zip_county_url = 'https://raw.githubusercontent.com/scpike/us-state-county-zip/master/geo-data.csv'
zip_county_df = pd.read_csv(zip_county_url)
print('Num of rows:', len(zip_county_df))
print('Num of columns:', len(zip_county_df.columns))
zip_county_df.head()

Num of rows: 33103
Num of columns: 6

   state_fips    state state_abbr zipcode      county        city
0           1  Alabama         AL   35004   St. Clair       Acmar
1           1  Alabama         AL   35005   Jefferson  Adamsville
2           1  Alabama         AL   35006   Jefferson       Adger
3           1  Alabama         AL   35007      Shelby    Keystone
4           1  Alabama         AL   35010  Tallapoosa    New site

In [10]:
# check if zip code is valid by checking if the zip code is numeric.
zip_county_df['zip_code_isValid'] = zip_county_df.apply(lambda x: x['zipcode'].isnumeric(), axis=1)
print(zip_county_df.groupby(['zip_code_isValid', 'county'])['zipcode'].count())

zip_code_isValid  county
False             Abbeville                     1
                  Acadia Parish                 1
                  Accomack                      2
                  Ada                           3
                  Adair                         1
                                               ..
True              Yukon-Koyukuk Census Area    30
                  Yuma                         16
                  Zapata                        2
                  Zavala                        3
                  Ziebach                       3
Name: zipcode, Length: 2505, dtype: int64

In [11]:
zip_county_df.head(1)

   state_fips    state state_abbr zipcode     county   city  zip_code_isValid
0           1  Alabama         AL   35004  St. Clair  Acmar              True

In [12]:
#let's check for invalid zip codes to have an idea of how an invalid zip code looks.

print('Invalid zip codes:', zip_county_df.loc[zip_county_df['zip_code_isValid'] == False]['zipcode'].unique())

Invalid zip codes: ['350HH' '350XX' '351HH' ... '830HH' '830XX' '831HH']

In [13]:
# let's grab only the valid zip codes.
zip_county_df = zip_county_df.loc[zip_county_df['zip_code_isValid'] == True]
print('Length of valid zip code is', len(zip_county_df))
zip_county_df.head(1)

Length of valid zip code is 31956

   state_fips    state state_abbr zipcode     county   city  zip_code_isValid
0           1  Alabama         AL   35004  St. Clair  Acmar              True

In [14]:
# extract zip code from the region column from our redfin dataset
df['zipcode'] = df.apply(lambda x: x['region'].split(':')[1].strip(), axis=1)

# Now, let's merge the redfin dataset with our geo data
df_merge = pd.merge(
    df,
    zip_county_df[['zipcode', 'city', 'county']],
    how='inner', 
    on=['zipcode'] 
)

df_merge.head()

length of dataframe: 5889701

,period_begin,period_end,period_duration,region_type,region_type_id,table_id,is_seasonally_adjusted,region,city_x,state,state_code,property_type,property_type_id,median_sale_price,median_sale_price_mom,median_sale_price_yoy,median_list_price,median_list_price_mom,median_list_price_yoy,median_ppsf,median_ppsf_mom,median_ppsf_yoy,median_list_ppsf,median_list_ppsf_mom,median_list_ppsf_yoy,homes_sold,homes_sold_mom,homes_sold_yoy,pending_sales,pending_sales_mom,pending_sales_yoy,new_listings,new_listings_mom,new_listings_yoy,inventory,inventory_mom,inventory_yoy,months_of_supply,months_of_supply_mom,months_of_supply_yoy,median_dom,median_dom_mom,median_dom_yoy,avg_sale_to_list,avg_sale_to_list_mom,avg_sale_to_list_yoy,sold_above_list,sold_above_list_mom,sold_above_list_yoy,price_drops,price_drops_mom,price_drops_yoy,off_market_in_two_weeks,off_market_in_two_weeks_mom,off_market_in_two_weeks_yoy,parent_metro_region,parent_metro_region_metro_code,last_updated,period_begin_in_years,period_end_in_years,period_begin_in_months,period_end_in_months,zipcode,city_y,county
0,2022-01-01,2022-03-31,90,zip code,2,28652,f,Zip Code: 66431,NaN,Kansas,KS,All Residential,-1,75500.0,0.0,-0.245000,NaN,NaN,NaN,54.199569,0.0,-0.261260,NaN,NaN,NaN,1.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,94.0,0.0,36.0,NaN,NaN,NaN,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,"Topeka, KS",45820,2022-09-11 14:46:03,2022,2022,Jan,Mar,66431,Harveyville,Wabaunsee
1,2021-01-01,2021-03-31,90,zip code,2,28652,f,Zip Code: 66431,NaN,Kansas,KS,Single Family Residential,6,100000.0,0.0,NaN,NaN,NaN,NaN,73.367572,0.0,NaN,NaN,NaN,NaN,1.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,58.0,0.0,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Topeka, KS",45820,2022-09-11 14:46:03,2021,2021,Jan,Mar,66431,Harveyville,Wabaunsee
2,2018-01-01,2018-03-31,90,zip code,2,28652,f,Zip Code: 66431,NaN,Kansas,KS,Single Family Residential,6,148500.0,0.0,NaN,8000.0,0.0,NaN,64.398893,0.0,NaN,12.5,0.0,NaN,2.0,0.0,NaN,NaN,NaN,NaN,1.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,102.0,0.0,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Topeka, KS",45820,2022-09-11 14:46:03,2018,2018,Jan,Mar,66431,Harveyville,Wabaunsee
3,2019-09-01,2019-11-30,90,zip code,2,28652,f,Zip Code: 66431,NaN,Kansas,KS,Single Family Residential,6,50500.0,NaN,-0.303448,NaN,NaN,NaN,34.052596,NaN,-0.550975,NaN,NaN,NaN,2.0,1.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,119.5,1.5,9.5,NaN,NaN,NaN,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,"Topeka, KS",45820,2022-09-11 14:46:03,2019,2019,Sep,Nov,66431,Harveyville,Wabaunsee
4,2021-11-01,2022-01-31,90,zip code,2,28652,f,Zip Code: 66431,NaN,Kansas,KS,Single Family Residential,6,75500.0,NaN,-0.245000,NaN,NaN,NaN,54.199569,NaN,-0.261260,NaN,NaN,NaN,1.0,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,94.0,NaN,36.0,NaN,NaN,NaN,0.0,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,"Topeka, KS",45820,2022-09-11 14:46:03,2021,2022,Nov,Jan,66431,Harveyville,Wabaunsee

In [15]:
df_merge.drop(["city_x", "region"], axis = 1, inplace=True)
df_merge = df_merge.rename(columns={'city_y': 'city'})
df_merge.head(1)

,period_begin,period_end,period_duration,region_type,region_type_id,table_id,is_seasonally_adjusted,state,state_code,property_type,property_type_id,median_sale_price,median_sale_price_mom,median_sale_price_yoy,median_list_price,median_list_price_mom,median_list_price_yoy,median_ppsf,median_ppsf_mom,median_ppsf_yoy,median_list_ppsf,median_list_ppsf_mom,median_list_ppsf_yoy,homes_sold,homes_sold_mom,homes_sold_yoy,pending_sales,pending_sales_mom,pending_sales_yoy,new_listings,new_listings_mom,new_listings_yoy,inventory,inventory_mom,inventory_yoy,months_of_supply,months_of_supply_mom,months_of_supply_yoy,median_dom,median_dom_mom,median_dom_yoy,avg_sale_to_list,avg_sale_to_list_mom,avg_sale_to_list_yoy,sold_above_list,sold_above_list_mom,sold_above_list_yoy,price_drops,price_drops_mom,price_drops_yoy,off_market_in_two_weeks,off_market_in_two_weeks_mom,off_market_in_two_weeks_yoy,parent_metro_region,parent_metro_region_metro_code,last_updated,period_begin_in_years,period_end_in_years,period_begin_in_months,period_end_in_months,zipcode,city,county
0,2022-01-01,2022-03-31,90,zip code,2,28652,f,Kansas,KS,All Residential,-1,75500.0,0.0,-0.245,NaN,NaN,NaN,54.199569,0.0,-0.26126,NaN,NaN,NaN,1.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,94.0,0.0,36.0,NaN,NaN,NaN,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,"Topeka, KS",45820,2022-09-11 14:46:03,2022,2022,Jan,Mar,66431,Harveyville,Wabaunsee

In [17]:
len(df_merge)

5889701

In [18]:
# download file
df_merge.to_csv('real_estate_w209.csv', index=False)