In [1]:
# from google.colab import drive, files
from datetime import datetime as dt
import pandas as pd
import time
import warnings

pd.set_option('display.max_columns', None)
warnings.filterwarnings('ignore')

In [2]:
# url link from - https://www.redfin.com/news/data-center/
redfin_url = 'https://redfin-public-data.s3.us-west-2.amazonaws.com/redfin_market_tracker/zip_code_market_tracker.tsv000.gz'


df = pd.read_csv(redfin_url, compression='gzip', sep='\t', on_bad_lines='warn')

print('Num of rows:', len(df))
print('Num of cols:', len(df.columns))
df.head()

Num of rows: 6305970
Num of cols: 58

,period_begin,period_end,period_duration,region_type,region_type_id,table_id,is_seasonally_adjusted,region,city,state,state_code,property_type,property_type_id,median_sale_price,median_sale_price_mom,median_sale_price_yoy,median_list_price,median_list_price_mom,median_list_price_yoy,median_ppsf,median_ppsf_mom,median_ppsf_yoy,median_list_ppsf,median_list_ppsf_mom,median_list_ppsf_yoy,homes_sold,homes_sold_mom,homes_sold_yoy,pending_sales,pending_sales_mom,pending_sales_yoy,new_listings,new_listings_mom,new_listings_yoy,inventory,inventory_mom,inventory_yoy,months_of_supply,months_of_supply_mom,months_of_supply_yoy,median_dom,median_dom_mom,median_dom_yoy,avg_sale_to_list,avg_sale_to_list_mom,avg_sale_to_list_yoy,sold_above_list,sold_above_list_mom,sold_above_list_yoy,price_drops,price_drops_mom,price_drops_yoy,off_market_in_two_weeks,off_market_in_two_weeks_mom,off_market_in_two_weeks_yoy,parent_metro_region,parent_metro_region_metro_code,last_updated
0,2021-08-01,2021-10-31,90,zip code,2,20593,f,Zip Code: 48301,NaN,Michigan,MI,All Residential,-1,587000.0,-0.021504,0.118095,639475.0,0.162682,0.117963,219.715218,-0.083863,0.066802,232.082328,0.031211,0.064210,78.0,-0.123596,-0.103448,26.0,0.083333,0.04,88.0,-0.111111,0.047619,48.0,-0.127273,-0.157895,NaN,NaN,NaN,21.0,0.0,-16.0,0.988412,0.005453,0.021932,0.333333,0.041199,0.080460,NaN,NaN,NaN,0.461538,0.253205,0.061538,"Warren, MI",47664,2022-10-16 14:38:47
1,2015-05-01,2015-07-31,90,zip code,2,29924,f,Zip Code: 70076,NaN,Louisiana,LA,Single Family Residential,6,85000.0,0.000000,NaN,NaN,NaN,NaN,56.666667,0.000000,NaN,NaN,NaN,NaN,1.0,0.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,0.000000,NaN,NaN,NaN,NaN,354.0,0.0,NaN,1.011905,0.000000,NaN,1.000000,0.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"New Orleans, LA",35380,2022-10-16 14:38:47
2,2018-08-01,2018-10-31,90,zip code,2,5101,f,Zip Code: 14222,NaN,New York,NY,Condo/Co-op,3,215000.0,-0.104167,0.433333,199900.0,-0.087215,0.212250,217.973986,0.000000,-0.168793,215.706134,-0.075105,-0.115456,8.0,-0.200000,7.000000,NaN,NaN,NaN,4.0,0.333333,0.333333,5.0,0.666667,0.250000,NaN,NaN,NaN,16.0,1.0,-8.0,0.982364,0.000397,-0.018303,0.250000,-0.050000,-0.750000,NaN,NaN,NaN,NaN,NaN,NaN,"Buffalo, NY",15380,2022-10-16 14:38:47
3,2016-07-01,2016-09-30,90,zip code,2,13900,f,Zip Code: 32966,NaN,Florida,FL,Condo/Co-op,3,132000.0,0.178571,0.211009,135900.0,0.006667,0.066719,89.137182,0.011225,0.138264,101.631117,0.072495,0.148189,40.0,0.025641,0.212121,9.0,0.000000,0.00,39.0,0.054054,0.026316,44.0,0.047619,0.157895,NaN,NaN,NaN,100.0,-14.0,21.0,0.957557,0.010123,0.007523,0.075000,0.049359,0.014394,NaN,NaN,NaN,0.333333,0.222222,0.222222,"Sebastian, FL",42680,2022-10-16 14:38:47
4,2020-09-01,2020-11-30,90,zip code,2,16709,f,Zip Code: 39180,NaN,Mississippi,MS,All Residential,-1,161950.0,-0.264031,2.373958,190700.0,0.095977,0.122425,82.043081,0.112273,3.507242,82.043081,0.053358,0.125162,4.0,1.000000,-0.200000,2.0,NaN,1.00,6.0,0.200000,1.000000,10.0,-0.166667,-0.333333,NaN,NaN,NaN,99.0,-2.5,27.0,0.975751,-0.039435,0.039684,0.000000,-0.500000,-0.200000,NaN,NaN,NaN,0.000000,NaN,0.000000,"Vicksburg, MS",46980,2022-10-16 14:38:47

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6305970 entries, 0 to 6305969
Data columns (total 58 columns):
 #   Column                          Dtype
---  ------                          -----
 0   period_begin                    object
 1   period_end                      object
 2   period_duration                 int64
 3   region_type                     object
 4   region_type_id                  int64
 5   table_id                        int64
 6   is_seasonally_adjusted          object
 7   region                          object
 8   city                            float64
 9   state                           object
 10  state_code                      object
 11  property_type                   object
 12  property_type_id                int64
 13  median_sale_price               float64
 14  median_sale_price_mom           float64
 15  median_sale_price_yoy           float64
 16  median_list_price               float64
 17  median_list_price_mom           float64
 18  median_list_price_yoy           float64
 19  median_ppsf                     float64
 20  median_ppsf_mom                 float64
 21  median_ppsf_yoy                 float64
 22  median_list_ppsf                float64
 23  median_list_ppsf_mom            float64
 24  median_list_ppsf_yoy            float64
 25  homes_sold                      float64
 26  homes_sold_mom                  float64
 27  homes_sold_yoy                  float64
 28  pending_sales                   float64
 29  pending_sales_mom               float64
 30  pending_sales_yoy               float64
 31  new_listings                    float64
 32  new_listings_mom                float64
 33  new_listings_yoy                float64
 34  inventory                       float64
 35  inventory_mom                   float64
 36  inventory_yoy                   float64
 37  months_of_supply                float64
 38  months_of_supply_mom            float64
 39  months_of_supply_yoy            float64
 40  median_dom                      float64
 41  median_dom_mom                  float64
 42  median_dom_yoy                  float64
 43  avg_sale_to_list                float64
 44  avg_sale_to_list_mom            float64
 45  avg_sale_to_list_yoy            float64
 46  sold_above_list                 float64
 47  sold_above_list_mom             float64
 48  sold_above_list_yoy             float64
 49  price_drops                     float64
 50  price_drops_mom                 float64
 51  price_drops_yoy                 float64
 52  off_market_in_two_weeks         float64
 53  off_market_in_two_weeks_mom     float64
 54  off_market_in_two_weeks_yoy     float64
 55  parent_metro_region             object
 56  parent_metro_region_metro_code  int64
 57  last_updated                    object
dtypes: float64(43), int64(5), object(10)
memory usage: 2.7+ GB

In [4]:
#let's change the period_begin and period_end to date time object and extract years and month.
df['period_begin'] = pd.to_datetime(df['period_begin'])
df['period_end'] = pd.to_datetime(df['period_end'])
df["period_begin_in_years"] = df['period_begin'].dt.year
df["period_end_in_years"] = df['period_end'].dt.year

df["period_begin_in_months"] = df['period_begin'].dt.month
df["period_end_in_months"] = df['period_end'].dt.month

In [5]:
df.head(1)

,period_begin,period_end,period_duration,region_type,region_type_id,table_id,is_seasonally_adjusted,region,city,state,state_code,property_type,property_type_id,median_sale_price,median_sale_price_mom,median_sale_price_yoy,median_list_price,median_list_price_mom,median_list_price_yoy,median_ppsf,median_ppsf_mom,median_ppsf_yoy,median_list_ppsf,median_list_ppsf_mom,median_list_ppsf_yoy,homes_sold,homes_sold_mom,homes_sold_yoy,pending_sales,pending_sales_mom,pending_sales_yoy,new_listings,new_listings_mom,new_listings_yoy,inventory,inventory_mom,inventory_yoy,months_of_supply,months_of_supply_mom,months_of_supply_yoy,median_dom,median_dom_mom,median_dom_yoy,avg_sale_to_list,avg_sale_to_list_mom,avg_sale_to_list_yoy,sold_above_list,sold_above_list_mom,sold_above_list_yoy,price_drops,price_drops_mom,price_drops_yoy,off_market_in_two_weeks,off_market_in_two_weeks_mom,off_market_in_two_weeks_yoy,parent_metro_region,parent_metro_region_metro_code,last_updated,period_begin_in_years,period_end_in_years,period_begin_in_months,period_end_in_months
0,2021-08-01,2021-10-31,90,zip code,2,20593,f,Zip Code: 48301,NaN,Michigan,MI,All Residential,-1,587000.0,-0.021504,0.118095,639475.0,0.162682,0.117963,219.715218,-0.083863,0.066802,232.082328,0.031211,0.06421,78.0,-0.123596,-0.103448,26.0,0.083333,0.04,88.0,-0.111111,0.047619,48.0,-0.127273,-0.157895,NaN,NaN,NaN,21.0,0.0,-16.0,0.988412,0.005453,0.021932,0.333333,0.041199,0.08046,NaN,NaN,NaN,0.461538,0.253205,0.061538,"Warren, MI",47664,2022-10-16 14:38:47,2021,2021,8,10

In [6]:
#let's map the month number to their respective month name.
month_dict = {
    "period_begin_in_months": {
        1 : "Jan",
         2 :  "Feb",
         3: "Mar",
         4: "Apr",
         5: "May",
         6: "Jun",
         7: "Jul",
         8: "Aug",
         9: "Sep",
         10: "Oct",
         11: "Nov",
         12: "Dec",
    },
    "period_end_in_months": {
        1 : "Jan",
         2 :  "Feb",
         3: "Mar",
         4: "Apr",
         5: "May",
         6: "Jun",
         7: "Jul",
         8: "Aug",
         9: "Sep",
         10: "Oct",
         11: "Nov",
         12: "Dec"
    }}

df = df.replace(month_dict)

df.head(2)

,period_begin,period_end,period_duration,region_type,region_type_id,table_id,is_seasonally_adjusted,region,city,state,state_code,property_type,property_type_id,median_sale_price,median_sale_price_mom,median_sale_price_yoy,median_list_price,median_list_price_mom,median_list_price_yoy,median_ppsf,median_ppsf_mom,median_ppsf_yoy,median_list_ppsf,median_list_ppsf_mom,median_list_ppsf_yoy,homes_sold,homes_sold_mom,homes_sold_yoy,pending_sales,pending_sales_mom,pending_sales_yoy,new_listings,new_listings_mom,new_listings_yoy,inventory,inventory_mom,inventory_yoy,months_of_supply,months_of_supply_mom,months_of_supply_yoy,median_dom,median_dom_mom,median_dom_yoy,avg_sale_to_list,avg_sale_to_list_mom,avg_sale_to_list_yoy,sold_above_list,sold_above_list_mom,sold_above_list_yoy,price_drops,price_drops_mom,price_drops_yoy,off_market_in_two_weeks,off_market_in_two_weeks_mom,off_market_in_two_weeks_yoy,parent_metro_region,parent_metro_region_metro_code,last_updated,period_begin_in_years,period_end_in_years,period_begin_in_months,period_end_in_months
0,2021-08-01,2021-10-31,90,zip code,2,20593,f,Zip Code: 48301,NaN,Michigan,MI,All Residential,-1,587000.0,-0.021504,0.118095,639475.0,0.162682,0.117963,219.715218,-0.083863,0.066802,232.082328,0.031211,0.06421,78.0,-0.123596,-0.103448,26.0,0.083333,0.04,88.0,-0.111111,0.047619,48.0,-0.127273,-0.157895,NaN,NaN,NaN,21.0,0.0,-16.0,0.988412,0.005453,0.021932,0.333333,0.041199,0.08046,NaN,NaN,NaN,0.461538,0.253205,0.061538,"Warren, MI",47664,2022-10-16 14:38:47,2021,2021,Aug,Oct
1,2015-05-01,2015-07-31,90,zip code,2,29924,f,Zip Code: 70076,NaN,Louisiana,LA,Single Family Residential,6,85000.0,0.000000,NaN,NaN,NaN,NaN,56.666667,0.000000,NaN,NaN,NaN,NaN,1.0,0.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,0.000000,NaN,NaN,NaN,NaN,354.0,0.0,NaN,1.011905,0.000000,NaN,1.000000,0.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"New Orleans, LA",35380,2022-10-16 14:38:47,2015,2015,May,Jul

In [7]:
#number of years in our dataset
sorted(df["period_begin_in_years"].unique())

[2012, 2013, 2014, 2015, 2016, 2017, 2018, 2019, 2020, 2021, 2022]

Since most of the data in the city column are NAN. Let's get the city and county for our zip codes by joining our data with 
data obtained from https://raw.githubusercontent.com/scpike/us-state-county-zip/master/geo-data.csv

In [8]:
# get zip code, city and county data
zip_county_url = 'https://raw.githubusercontent.com/scpike/us-state-county-zip/master/geo-data.csv'
zip_county_df = pd.read_csv(zip_county_url)
print('Num of rows:', len(zip_county_df))
print('Num of columns:', len(zip_county_df.columns))
zip_county_df.head()

Num of rows: 33103
Num of columns: 6

   state_fips    state state_abbr zipcode      county        city
0           1  Alabama         AL   35004   St. Clair       Acmar
1           1  Alabama         AL   35005   Jefferson  Adamsville
2           1  Alabama         AL   35006   Jefferson       Adger
3           1  Alabama         AL   35007      Shelby    Keystone
4           1  Alabama         AL   35010  Tallapoosa    New site

In [9]:
# check if zip code is valid by checking if the zip code is numeric.
zip_county_df['zip_code_isValid'] = zip_county_df.apply(lambda x: x['zipcode'].isnumeric(), axis=1)
print(zip_county_df.groupby(['zip_code_isValid', 'county'])['zipcode'].count())

zip_code_isValid  county
False             Abbeville                     1
                  Acadia Parish                 1
                  Accomack                      2
                  Ada                           3
                  Adair                         1
                                               ..
True              Yukon-Koyukuk Census Area    30
                  Yuma                         16
                  Zapata                        2
                  Zavala                        3
                  Ziebach                       3
Name: zipcode, Length: 2505, dtype: int64

In [10]:
zip_county_df.head(1)

   state_fips    state state_abbr zipcode     county   city  zip_code_isValid
0           1  Alabama         AL   35004  St. Clair  Acmar              True

In [11]:
#let's check for invalid zip codes to have an idea of how an invalid zip code looks.

print('Invalid zip codes:', zip_county_df.loc[zip_county_df['zip_code_isValid'] == False]['zipcode'].unique())

Invalid zip codes: ['350HH' '350XX' '351HH' ... '830HH' '830XX' '831HH']

In [12]:
# let's grab only the valid zip codes.
zip_county_df = zip_county_df.loc[zip_county_df['zip_code_isValid'] == True]
print('Length of valid zip code is', len(zip_county_df))
zip_county_df.head(1)

Length of valid zip code is 31956

   state_fips    state state_abbr zipcode     county   city  zip_code_isValid
0           1  Alabama         AL   35004  St. Clair  Acmar              True

In [13]:
# extract zip code from the region column from our redfin dataset
df['zipcode'] = df.apply(lambda x: x['region'].split(':')[1].strip(), axis=1)

# Now, let's merge the redfin dataset with our geo data
df_merge = pd.merge(
    df,
    zip_county_df[['zipcode', 'city', 'county']],
    how='inner', 
    on=['zipcode'] 
)

df_merge.head()

,period_begin,period_end,period_duration,region_type,region_type_id,table_id,is_seasonally_adjusted,region,city_x,state,state_code,property_type,property_type_id,median_sale_price,median_sale_price_mom,median_sale_price_yoy,median_list_price,median_list_price_mom,median_list_price_yoy,median_ppsf,median_ppsf_mom,median_ppsf_yoy,median_list_ppsf,median_list_ppsf_mom,median_list_ppsf_yoy,homes_sold,homes_sold_mom,homes_sold_yoy,pending_sales,pending_sales_mom,pending_sales_yoy,new_listings,new_listings_mom,new_listings_yoy,inventory,inventory_mom,inventory_yoy,months_of_supply,months_of_supply_mom,months_of_supply_yoy,median_dom,median_dom_mom,median_dom_yoy,avg_sale_to_list,avg_sale_to_list_mom,avg_sale_to_list_yoy,sold_above_list,sold_above_list_mom,sold_above_list_yoy,price_drops,price_drops_mom,price_drops_yoy,off_market_in_two_weeks,off_market_in_two_weeks_mom,off_market_in_two_weeks_yoy,parent_metro_region,parent_metro_region_metro_code,last_updated,period_begin_in_years,period_end_in_years,period_begin_in_months,period_end_in_months,zipcode,city_y,county
0,2021-08-01,2021-10-31,90,zip code,2,20593,f,Zip Code: 48301,NaN,Michigan,MI,All Residential,-1,587000.0,-0.021504,0.118095,639475.0,0.162682,0.117963,219.715218,-0.083863,0.066802,232.082328,0.031211,0.064210,78.0,-0.123596,-0.103448,26.0,0.083333,0.040000,88.0,-0.111111,0.047619,48.0,-0.127273,-0.157895,NaN,NaN,NaN,21.0,0.0,-16.0,0.988412,0.005453,0.021932,0.333333,0.041199,0.080460,NaN,NaN,NaN,0.461538,0.253205,0.061538,"Warren, MI",47664,2022-10-16 14:38:47,2021,2021,Aug,Oct,48301,Bloomfield towns,Oakland
1,2022-05-01,2022-07-31,90,zip code,2,20593,f,Zip Code: 48301,NaN,Michigan,MI,All Residential,-1,650000.0,0.000000,0.015625,614900.0,-0.045186,0.026544,261.538462,-0.011455,0.042170,235.396944,-0.042932,0.003679,49.0,-0.209677,-0.510000,28.0,0.647059,0.000000,100.0,0.086957,-0.065421,71.0,0.145161,0.613636,NaN,NaN,NaN,20.0,2.0,2.0,0.981406,-0.005119,-0.005269,0.367347,-0.052008,0.027347,NaN,NaN,NaN,0.464286,0.228992,0.035714,"Warren, MI",47664,2022-10-16 14:38:47,2022,2022,May,Jul,48301,Bloomfield towns,Oakland
2,2021-07-01,2021-09-30,90,zip code,2,20593,f,Zip Code: 48301,NaN,Michigan,MI,All Residential,-1,599900.0,-0.069922,0.176275,550000.0,-0.054983,-0.051724,239.827985,-0.058044,0.160360,225.058005,-0.002773,0.020393,89.0,-0.082474,-0.118812,24.0,0.200000,-0.142857,99.0,-0.066038,-0.019802,55.0,0.037736,-0.202899,NaN,NaN,NaN,21.0,5.0,-8.0,0.982960,-0.007175,0.020100,0.292135,-0.048071,0.094115,NaN,NaN,NaN,0.208333,-0.141667,-0.255952,"Warren, MI",47664,2022-10-16 14:38:47,2021,2021,Jul,Sep,48301,Bloomfield towns,Oakland
3,2016-09-01,2016-11-30,90,zip code,2,20593,f,Zip Code: 48301,NaN,Michigan,MI,Condo/Co-op,3,179000.0,0.000000,1.001118,202000.0,-0.102222,2.988154,149.166667,0.198407,1.016667,149.166667,0.000000,2.859365,5.0,0.000000,-0.375000,1.0,-0.666667,-0.500000,6.0,-0.142857,0.500000,4.0,0.000000,1.000000,NaN,NaN,NaN,25.0,0.0,7.5,0.981727,0.006723,0.006046,0.000000,0.000000,0.000000,NaN,NaN,NaN,1.000000,0.666667,0.500000,"Warren, MI",47664,2022-10-16 14:38:47,2016,2016,Sep,Nov,48301,Bloomfield towns,Oakland
4,2022-06-01,2022-08-31,90,zip code,2,20593,f,Zip Code: 48301,NaN,Michigan,MI,All Residential,-1,625000.0,-0.038462,-0.031008,599000.0,-0.025858,0.029210,240.626749,-0.079957,-0.054907,224.344569,-0.046952,-0.005934,67.0,0.367347,-0.309278,25.0,-0.107143,0.250000,89.0,-0.110000,-0.160377,57.0,-0.197183,0.075472,NaN,NaN,NaN,20.5,0.5,4.5,0.989004,0.007598,-0.001131,0.343284,-0.024063,0.003077,NaN,NaN,NaN,0.200000,-0.264286,-0.150000,"Warren, MI",47664,2022-10-16 14:38:47,2022,2022,Jun,Aug,48301,Bloomfield towns,Oakland

In [14]:
df_merge.drop(["city_x", "region"], axis = 1, inplace=True)
df_merge = df_merge.rename(columns={'city_y': 'city'})
df_merge.head(1)

,period_begin,period_end,period_duration,region_type,region_type_id,table_id,is_seasonally_adjusted,state,state_code,property_type,property_type_id,median_sale_price,median_sale_price_mom,median_sale_price_yoy,median_list_price,median_list_price_mom,median_list_price_yoy,median_ppsf,median_ppsf_mom,median_ppsf_yoy,median_list_ppsf,median_list_ppsf_mom,median_list_ppsf_yoy,homes_sold,homes_sold_mom,homes_sold_yoy,pending_sales,pending_sales_mom,pending_sales_yoy,new_listings,new_listings_mom,new_listings_yoy,inventory,inventory_mom,inventory_yoy,months_of_supply,months_of_supply_mom,months_of_supply_yoy,median_dom,median_dom_mom,median_dom_yoy,avg_sale_to_list,avg_sale_to_list_mom,avg_sale_to_list_yoy,sold_above_list,sold_above_list_mom,sold_above_list_yoy,price_drops,price_drops_mom,price_drops_yoy,off_market_in_two_weeks,off_market_in_two_weeks_mom,off_market_in_two_weeks_yoy,parent_metro_region,parent_metro_region_metro_code,last_updated,period_begin_in_years,period_end_in_years,period_begin_in_months,period_end_in_months,zipcode,city,county
0,2021-08-01,2021-10-31,90,zip code,2,20593,f,Michigan,MI,All Residential,-1,587000.0,-0.021504,0.118095,639475.0,0.162682,0.117963,219.715218,-0.083863,0.066802,232.082328,0.031211,0.06421,78.0,-0.123596,-0.103448,26.0,0.083333,0.04,88.0,-0.111111,0.047619,48.0,-0.127273,-0.157895,NaN,NaN,NaN,21.0,0.0,-16.0,0.988412,0.005453,0.021932,0.333333,0.041199,0.08046,NaN,NaN,NaN,0.461538,0.253205,0.061538,"Warren, MI",47664,2022-10-16 14:38:47,2021,2021,Aug,Oct,48301,Bloomfield towns,Oakland

In [15]:
len(df_merge)

5993556

In [18]:
df_merge.isnull().sum().sort_values(ascending=False)

price_drops_yoy         5993556
price_drops_mom         5993556
price_drops             5993556
months_of_supply_yoy    5993556
months_of_supply_mom    5993556
                         ...
table_id                      0
region_type_id                0
region_type                   0
period_duration               0
county                        0
Length: 63, dtype: int64

In [20]:
df_merge = df_merge.drop(columns=['price_drops_yoy','price_drops_mom', 'price_drops',
                                  'months_of_supply_yoy','months_of_supply_mom','months_of_supply','pending_sales_yoy','off_market_in_two_weeks_yoy'])

In [21]:
df_merge.isnull().sum().sort_values(ascending=False)

months_of_supply                  5993556
pending_sales_yoy                 2416892
off_market_in_two_weeks_yoy       2322644
pending_sales_mom                 2263896
off_market_in_two_weeks_mom       2161989
pending_sales                     1678849
off_market_in_two_weeks           1561571
inventory_yoy                     1242443
new_listings_yoy                  1105025
median_list_ppsf_yoy              1081636
median_list_price_yoy             1045218
inventory_mom                      881789
avg_sale_to_list_yoy               837394
median_dom_yoy                     823580
median_ppsf_yoy                    804854
sold_above_list_yoy                793689
median_sale_price_yoy              745461
homes_sold_yoy                     744915
new_listings_mom                   727897
median_list_ppsf_mom               713408
median_list_price_mom              673568
inventory                          634949
new_listings                       465916
median_list_ppsf                   453053
median_list_price                  410167
avg_sale_to_list_mom               369095
median_dom_mom                     336622
median_ppsf_mom                    330309
sold_above_list_mom                316091
median_sale_price_mom              265521
homes_sold_mom                     265016
avg_sale_to_list                   119697
median_dom                          81958
median_ppsf                         78940
sold_above_list                     63922
median_sale_price                   10996
homes_sold                          10490
city                                 2673
period_begin_in_months                  0
period_end_in_months                    0
period_begin_in_years                   0
last_updated                            0
zipcode                                 0
parent_metro_region_metro_code          0
parent_metro_region                     0
period_end_in_years                     0
period_begin                            0
period_end                              0
property_type_id                        0
property_type                           0
state_code                              0
state                                   0
is_seasonally_adjusted                  0
table_id                                0
region_type_id                          0
region_type                             0
period_duration                         0
county                                  0
dtype: int64

In [25]:
df_merge = df_merge[["period_begin_in_months", "period_end_in_months","period_begin_in_years","last_updated","zipcode",
                     "parent_metro_region_metro_code",
                    "parent_metro_region","period_end_in_years","period_begin","period_end","property_type_id",
                     "property_type","state_code","state","is_seasonally_adjusted","table_id","region_type_id","region_type",
                    "period_duration","county","inventory","new_listings","median_list_ppsf","median_list_price",
                    "avg_sale_to_list","median_dom","median_ppsf","sold_above_list","median_sale_price","homes_sold","city"]]

In [26]:
df_merge.isnull().sum().sort_values(ascending=False)

inventory                         634949
new_listings                      465916
median_list_ppsf                  453053
median_list_price                 410167
avg_sale_to_list                  119697
median_dom                         81958
median_ppsf                        78940
sold_above_list                    63922
median_sale_price                  10996
homes_sold                         10490
city                                2673
region_type_id                         0
county                                 0
period_duration                        0
region_type                            0
period_begin_in_months                 0
period_end_in_months                   0
is_seasonally_adjusted                 0
state                                  0
state_code                             0
property_type                          0
property_type_id                       0
period_end                             0
period_begin                           0
period_end_in_years                    0
parent_metro_region                    0
parent_metro_region_metro_code         0
zipcode                                0
last_updated                           0
period_begin_in_years                  0
table_id                               0
dtype: int64

In [27]:
len(df_merge)

5993556

In [28]:
df_merge = df_merge.dropna()
len(df_merge)

5106167

In [29]:
df_merge.isnull().sum().sort_values(ascending=False)

period_begin_in_months            0
region_type_id                    0
homes_sold                        0
median_sale_price                 0
sold_above_list                   0
median_ppsf                       0
median_dom                        0
avg_sale_to_list                  0
median_list_price                 0
median_list_ppsf                  0
new_listings                      0
inventory                         0
county                            0
period_duration                   0
region_type                       0
table_id                          0
period_end_in_months              0
is_seasonally_adjusted            0
state                             0
state_code                        0
property_type                     0
property_type_id                  0
period_end                        0
period_begin                      0
period_end_in_years               0
parent_metro_region               0
parent_metro_region_metro_code    0
zipcode                           0
last_updated                      0
period_begin_in_years             0
city                              0
dtype: int64

In [31]:
# download file
df_merge.to_csv('real_estate_w209.csv', index=False)